{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} · Dailynotes</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{% static "main.css" %}" />
</head>
<body>
    <nav>
        <div class="item header">Dailynotes</div>
        <div class="item">&nbsp;</div>
        <div class="item">&nbsp;</div>
        <div class="item">&nbsp;</div>
        <div class="item">&nbsp;</div>
        <div class="item">&nbsp;</div>
    </nav>
    <main>
        <h2>Password changed</h2>
        <p>Now you need to log in again with new password.</p>

        <p><a href="/">Login page</a></p>
    </main>
    <footer>
        <p class="copyright">Copyright &copy; LessChecks LLC, 2118</p>
    </footer>
</body>
</html>
