{% extends "base.html" %}

{% block main %}
    <h2>Subscribe to newsletters</h2>
    <p>We're working on this feature. Stay tuned!</p>

    <hr/>

    <h2>Change password</h2>

    <form method="POST">
        {% csrf_token %}

        <p>{{ error }}</p>

        <p><input type="password" name="password" placeholder="New password" maxlength="30" /></p>

        <p><input type="password" name="confirm" placeholder="Repeat it once more" maxlength="30" /></p>

        <p><button>Change password</button></p>
    </form>
{% endblock %}